body {
  margin: 0;
  
  background-color: fuchsia;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.span-style{
  background-color: aquamarine;
  color: brown;
  padding: 10px;
}

.btn1-style{
  margin-right: 10px;
}

.div-style{
  border: 2px solid black;
  width: 30%;
  margin: auto;
  padding: 30px;
  text-align: center;
}

/* todolist */
